In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [6]:
weather_api_key = 'Weather api key'

In [7]:
weather_api_key

'bf17ad0dc1672e782f7d9e0279be3a9f'

In [4]:
lat,long = 30.0869281, 78.2676116

In [5]:
from urllib.parse import urlencode
import requests

In [6]:
endpoint = 'https://api.openweathermap.org/data/2.5/weather'
params = {'lat': lat, 'lon': long, 'appid': weather_api_key}
url_params = urlencode(params)
url = f'{endpoint}?{url_params}'
url

'https://api.openweathermap.org/data/2.5/weather?lat=30.0869281&lon=78.2676116&appid=bf17ad0dc1672e782f7d9e0279be3a9f'

In [8]:
def weather_from_lat_long(lat,long):
    endpoint = 'https://api.openweathermap.org/data/2.5/weather'
    params = {'lat': lat, 'lon': long, 'appid': weather_api_key}
    url_params = urlencode(params)
    url = f'{endpoint}?{url_params}'
    r = requests.get(url)
    if r.status_code not in range(200,299):
        return{}
    weather_data = {}
    try:
        weather_data =  r.json()
    except:
        pass
    weather_info = {
        'temp': round(weather_data.get('main', {}).get('temp'),2),
        'main': weather_data.get('weather', [{}])[0].get('main'),
        'clouds': weather_data.get('clouds',{}).get('all'),
    }

    return weather_info

In [9]:
dict = weather_from_lat_long(30.0869281, 78.2676116)
dict

{'temp': 298.67, 'main': 'Clouds', 'clouds': 69}

In [10]:
import pandas as pd
df = pd.DataFrame([dict])
df

     temp    main  clouds
0  298.67  Clouds      69

In [8]:
df.columns = ['Temperature', 'Weather_Main', 'Cloudiness']

In [9]:
df.head()

   Temperature Weather_Main  Cloudiness
0       303.37         Mist         100

In [10]:
weather_main_order = {
    'Clear': 0,
    'Clouds': 1,
    'Drizzle': 2.5,
    'Thunderstorm': 1.5,
    'Rain': 3.5,
    'Snow': 4.5,

}

In [11]:
df['Weather_Main_encoded'] = df['Weather_Main'].map(weather_main_order)
df.head()

   Temperature Weather_Main  Cloudiness  Weather_Main_encoded
0       303.37         Mist         100                   NaN

In [12]:
df.drop(columns='Weather_Main', inplace= True)

In [13]:
df.fillna(1.5, inplace= True)

In [14]:
df.head()

   Temperature  Cloudiness  Weather_Main_encoded
0       303.37         100                   1.5

In [15]:
from sklearn.preprocessing import StandardScaler
import pickle

In [16]:
with open('trash_codes\standard_scalar_pickle', 'rb') as scaler:
    scaler_model = pickle.load(scaler)

In [17]:

standard_df = scaler_model.transform(df)
standard_df = pd.DataFrame(standard_df, columns =['x1', 'x2','x3'])

In [21]:
standard_df

         x1        x2     x3
0  1.479503  1.020587  0.374

In [18]:
import pickle
with open('trash_codes\kmeans_model_pickle','rb') as kmeans:
    model = pickle.load(kmeans)

In [24]:
y = model.predict(standard_df)
y[0]

C:\Users\kumar\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but KMeans was fitted without feature names
  warnings.warn(

5